@import 'tailwindcss/components';

/* @import url('prism-themes/themes/prism-vs.css') screen and (prefers-color-scheme: light); */
/* @import url('prism-themes/themes/prism-vsc-dark-plus.css') screen and (prefers-color-scheme: dark); */

@layer components {
  pre[class*='language-'] {
    @apply !m-0 !bg-code-bg-color !border-0 rounded-md p-5;

    code {
      @apply text-sm;
    }
  }
}
