@layer components {
  .markdown-doc {
    p {
      margin-block: 16px;
    }

    ul {
      list-style-type: decimal;
      margin: 16px 0;
      padding-left: 24px;

      li + li {
        margin-top: 8px;
      }
    }
  }
}
