@layer components {
  ::-webkit-scrollbar {
    @apply w-1.5 h-1.5;
  }

  ::-webkit-scrollbar-track {
    @apply rounded-xl bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-xl bg-[var(--scrollbar-thumb-color)] cursor-pointer hover:bg-[var(--scrollbar-thumb-hovercolor)];
  }
}
