@layer components {
  table {
    @apply border-collapse w-full text-sm leading-6 mb-9;

    th,
    td {
      @apply border-y border-border-color py-3 px-4 text-left max-w-64 whitespace-pre-wrap;
    }

    thead tr:first-child th {
      @apply border-t-0;
    }

    tbody tr td:first-child {
      @apply font-mono;
    }
  }
}
