:root {
  --chook-picker-background: #fff;

  --chook-picker-columns-margin: 0 1rem;
  --chook-picker-columns-backdrop: linear-gradient(
    to bottom,
    #f2f2f2 0px,
    #f2f2f2 0.0625rem,
    transparent 0.0625rem,
    transparent calc(100% - 0.0625rem),
    #f2f2f2 calc(100% - 0.0625rem),
    #f2f2f2 100%
  );

  --chook-picker-mask-backdrop:
    linear-gradient(180deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.4)),
    linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.4));

  --chook-picker-column-label-color: #323233;
  --chook-picker-column-label-padding: 0 0.25rem;
  --chook-picker-column-font-size: 1rem;
  --chook-picker-column-font-weight: 500;
}

.chook-picker {
  &-container {
    background: var(--chook-picker-background);
  }

  &-columns {
    width: calc(100% - var(--chook-picker-columns-margin) * 2);
    height: 13.5rem;
    overflow: hidden;
    position: relative;
    display: flex;
    margin: var(--chook-picker-columns-margin);

    &-backdrop {
      background-image: var(--chook-picker-columns-backdrop);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 3rem;
    }
  }

  &-mask-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: var(--chook-picker-mask-backdrop);
    background-repeat: no-repeat;
    background-position: top, bottom;
    background-size: 100% 5.25rem;
  }

  &-loading {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &-column {
    flex: 1 1 0%;
    overflow: hidden;
    padding: 5.375rem 0;
    cursor: grab;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &-item {
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: grab;
    }

    &-label {
      color: var(--chook-picker-column-label-color);
      font-size: var(--chook-picker-column-font-size);
      font-weight: var(--chook-picker-column-font-weight);
      padding: var(--chook-picker-column-label-padding);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
