.mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.2);
}

.picker {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 270px;
  z-index: 10000;
  background: #fff;
  user-select: none;

  &_title {
    position: relative;
    height: 44px;
    color: #333;

    &::after {
      content: '';
      display: block;
      border-bottom: 1px solid #ebebeb;
      left: 0;
      right: 0;
      transform: scaleY(0.5);
    }

    button {
      position: absolute;
      height: 44px;
      line-height: 44px;
      padding: 0 12px;
      font-size: 14px;
      border: none;
      background-color: transparent;
    }

    h4 {
      margin: 0;
      font-size: 16px;
      font-weight: normal;
      height: 44px;
      line-height: 44px;
      text-align: center;
    }
  }

  &_cancel {
    left: 0;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      filter: brightness(110%);
    }
  }

  &_confirm {
    right: 0;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      filter: brightness(110%);
    }
  }

  &_panel {
    position: relative;
    height: 226px;
    padding: 24px 12px;
    box-sizing: border-box;
  }

  &_mask_top,
  &_mask_bottom {
    position: absolute;
    left: 0;
    right: 0;
    height: 72px;
    background: #fff;
    transform: translateZ(0);
    z-index: 1;
    pointer-events: none;
  }

  &_mask_top {
    top: 24px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      border-bottom: 1px solid #ebebeb;
      transform: scaleY(0.5);
    }
  }

  &_mask_bottom {
    bottom: 24px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      border-bottom: 1px solid #ebebeb;
      transform: scaleY(0.5);
    }
  }

  &_wheel {
    flex: 1;
    overflow: hidden;

    &_wrapper {
      display: flex;
      align-items: stretch;
      height: 100%;
    }

    &_scroll {
      margin-top: 72px;
      padding: 0;
    }

    &_item {
      height: 34px;
      line-height: 34px;
      font-size: 17px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #333;
    }
  }
}
