:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  overscroll-behavior: none none;
  touch-action: manipulation;
  user-select: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  -webkit-overflow-scrolling: touch;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
    color: #213547;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

img {
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  user-select: none;
}

#app {
  max-width: 80rem;
  margin: auto;
  padding: 32px;
  text-align: center;
}

a {
  font-weight: 500;
  text-decoration-color: inherit;
  color: #646cff;
  transition: color 150ms;

  &:hover {
    color: #535bf2;
  }
}
