@import 'tailwindcss/components';

@import url('prism-themes/themes/prism-vs.css') screen and (prefers-color-scheme: light);
@import url('prism-themes/themes/prism-vsc-dark-plus.css') screen and (prefers-color-scheme: dark);

@layer components {
  code {
    @apply text-sm;
  }
}
