@import 'tailwindcss/components';

@layer components {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong,
  b {
    @apply font-semibold;
  }

  h1 {
    @apply text-4xl mb-8;
  }

  h2 {
    @apply text-3xl mb-6 mt-9;
  }
}
