:root {
  --header-height: 55px;

  --primary: #409eff;
  --primary-light: #66b1ff;
  --secondary: #3375b9;

  --bg-color: #ffffff;
  --border-color: #dcdfe6;
  --code-bg-color: #f5f7fa;
  --icon-hover-color: #000;
  --gutter-color: #e2e2e3;
  --switch-bg-color: #f2f2f2;
  --describedby-bg-color: #141414;
  --describedby-text-color: #ffffff;

  --tip-bg-color: rgba(64, 158, 255, 0.1);
  --text-color: rgba(0, 0, 0, 0.87);
  --text-color-secondary: rgba(60, 60, 67, 0.78);
  --scrollbar-thumb-color: rgb(0 0 0 / 0.2);
  --scrollbar-thumb-hovercolor: rgb(0 0 0 / 0.4);

  --code-color: #334bff;
  --code-base: #001080;
  --code-keyword: #af00db;
  --code-punctuation: #000000;
  --code-function: #795e26;
  --code-number: #098658;
  --code-operator: #000000;
  --code-string: #a31515;
  --code-tag: #22863a;
  --code-tag-punctuation: #000000;
  --code-attr-name: #6f42c1;
  --code-attr-value: #005cc5;
  --code-class-name: #267f99;
  --code-javascript: #0070c1;
  --code-javascript-operator: #24292e;
  --code-javascript-punctuation: #24292e;
  --code-javascript-script-punctuation: #000000;
  --code-plain-text: #001080;
  --code-comment: #22863a;

  --icon-copy: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='rgba(128,128,128,1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Crect width='8' height='4' x='8' y='2' rx='1' ry='1'/%3E%3Cpath d='M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2'/%3E%3C/svg%3E");
  --icon-copied: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='rgba(128,128,128,1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Crect width='8' height='4' x='8' y='2' rx='1' ry='1'/%3E%3Cpath d='M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2'/%3E%3Cpath d='m9 14 2 2 4-4'/%3E%3C/svg%3E");
}

.dark-scheme {
  --bg-color: #141414;
  --border-color: #4c4d4f;
  --code-bg-color: #262727;
  --icon-hover-color: #e5e7eb;
  --gutter-color: #000;
  --switch-bg-color: #2c2c2c;
  --describedby-bg-color: #ffffff;
  --describedby-text-color: rgba(0, 0, 0, 0.87);

  --text-color: rgba(255, 255, 255, 0.87);
  --text-color-secondary: rgba(235, 235, 245, 0.6);
  --scrollbar-thumb-color: rgb(255 255 255 / 0.2);
  --scrollbar-thumb-hovercolor: rgb(255 255 255 / 0.4);

  --code-color: #66b1ff;
  --code-base: #9cdcfe;
  --code-keyword: #c586c0;
  --code-punctuation: #d4d4d4;
  --code-function: #dcdcaa;
  --code-number: #b5cea8;
  --code-operator: #d4d4d4;
  --code-string: #ce9178;
  --code-tag: #569cd6;
  --code-tag-punctuation: #8c8c8c;
  --code-attr-name: #9cdcfe;
  --code-attr-value: #ce9178;
  --code-class-name: #4ec9b0;
  --code-javascript: #4fc1ff;
  --code-javascript-operator: #569cd6;
  --code-javascript-punctuation: #d4d4d4;
  --code-javascript-script-punctuation: #d4d4d4;
  --code-plain-text: #d4d4d4;
  --code-comment: #6a9955;
}
