name: Deploy Docs

on:
  push:
    branches: [master]
    paths:
      - 'docs/src/**'
      - docs/package.json
      - pnpm-lock.yaml

jobs:
  unit-test:
    uses: tzuyi0817/workflows/.github/workflows/test.yml@v1
    with:
      test: pnpm test:unit

  deploy-docs:
    needs: unit-test
    uses: tzuyi0817/workflows/.github/workflows/deploy-github-pages.yml@v1
    with:
      build: pnpm prepack && pnpm build
      production-files: ./docs/dist
      release-branch: master

    permissions:
      contents: read
      pages: write
      id-token: write
